<h1>Examples</h1>

<ul>
  <li><%= link_to "Multiple Buttons", "multiple_buttons" %></li>
  <li><%= link_to "Multiple Actions", "multiple_actions" %></li>
  <li><%= link_to "Elements Outside the `form` Tag", "elements_outside" %></li>
  <li><%= link_to "Multiple Steps", "multiple_steps" %></li>
</ul>